* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

.header {
    background-color: #1f2937;
    padding: 12px 210px;
}

.logo {
    flex: 1 0 auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header li {
    display: inline;
    margin: 0 0 0 12px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar {
    display: flex;
    align-items: baseline;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    gap: 24px;
    padding-bottom: 80px;
}

.header-content h1 {
    font-size: 48px;
    color: #f9faf8
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 80px 0 0;
    padding: 0;
}

.hero button {
    background-color: #3882f6;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #f9faf8;
    padding: 10px 40px;
}

.hero-image {
    background-color: #999999;
}

/* BODY */

.body {
    display: flex;
    flex-direction: column;

}

.first-row {
    padding: 40px 210px;
    color: #1f2937;
    font-size: 22px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding: 40px 0;
}

.card {
    flex: 1 0 auto;
    border: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 10px;
    max-width: 160px;
    height: 160px;
    margin-bottom: 100px;
}

.card-footer {
    padding-top: 170px;
    color: #1f2937;
    font-size: 16px;
    font-weight: 500;
}

.second-row {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 300px;
    color: #1f2937;
    font-size: 36px;
}

.author {
    margin-left: auto;
    font-size: 24px;
}